<header class="navigation">
  <div class="navigation-wrapper">
    
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    
    <div class="nav">
     <p>Baker Maker</p>
    </div>
    <div class="navigation-tools">
      
      </div>
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div>
  </div>
</header>