<div class="recipes-img-container">

  {{!-- My Recipes Section --}}
  <div class="recipes-wrapper">
    
    <h3 class="recipe-type-title">My Recipes</h3>
    <h6 class="view-all-text"><a href="#">View all</a></h6>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span class="fa fa-plus fa-3x"></span>
          <span>Add Recipe</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Add a New Recipe</h4>
          <p>Let's get started! Click to add a new recipe</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->





    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>4 Star Coleslaw</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>The Best Coleslaw Ever!</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->
  </div><!-- .recipes-wrapper -->


  {{!-- Public Recipes Section --}}
  <div class="recipes-wrapper">
    
    <h3 class="recipe-type-title">Public Recipes</h3>
    <h6 class="view-all-text"><a href="#">View all</a></h6>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>Jake's Baked Beans</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Add a New Recipe</h4>
          <p>Let's get started! Click to add a new recipe</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->





    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>4 Star Coleslaw</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>The Best Coleslaw Ever!</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->
  </div><!-- .recipes-wrapper -->


  {{!-- Popular Recipes Section --}}
  <div class="recipes-wrapper">
    
    <h3 class="recipe-type-title">Popular Recipes</h3>
    <h6 class="view-all-text"><a href="#">View all</a></h6>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>Jake's Baked Beans</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Add a New Recipe</h4>
          <p>Let's get started! Click to add a new recipe</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->





    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>4 Star Coleslaw</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>The Best Coleslaw Ever!</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->
  </div><!-- .recipes-wrapper -->


  {{!-- My Favorite Recipes Section --}}
  <div class="recipes-wrapper">
    
    <h3 class="recipe-type-title">My Favorite Recipes</h3>
    <h6 class="view-all-text"><a href="#">View all</a></h6>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>Jake's Baked Beans</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Add a New Recipe</h4>
          <p>Let's get started! Click to add a new recipe</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->





    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>4 Star Coleslaw</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>The Best Coleslaw Ever!</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->
  </div><!-- .recipes-wrapper -->


  {{!-- My Pantry --}}
  <div class="recipes-wrapper">
    
    <h3 class="recipe-type-title">My Pantry</h3>
    <h6 class="view-all-text"><a href="#">View all</a></h6>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>Jake's Baked Beans</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Add a New Recipe</h4>
          <p>Let's get started! Click to add a new recipe</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->





    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          <span>4 Star Coleslaw</span>
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>The Best Coleslaw Ever!</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->




    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->

    <div class="hover-tile-outer">
      <div class="hover-tile-container">

        <div class="hover-tile hover-tile-visible">
          Macey's Baked Beans
        </div><!-- .hover-tile .hover-tile-visible -->
      
        <div class="hover-tile hover-tile-hidden">
          <h4>Macey's Baked Beans</h4>
          <p>Git you some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
        </div><!-- .hover-tile .hover-tile-hidden -->

      </div><!-- .hover-tile-container -->
    </div><!-- .hover-tile-outer -->
  </div><!-- .recipes-wrapper -->

</div><!-- .recipes-img-container -->